*{
    margin: 0;
    
    padding: 0;
    scroll-behavior: smooth;
    
}
.First {
    height: 100vh;
    clear: both;
    font-size: 80px;
    background-color:#9C2D41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Shizuru', cursive;
    color:  #FFFAFA;
    text-align: center;
}

.Second {
    height: 100vh;
    padding: 20px;
    clear: both;
    font-size: 50px;
    background-color:#CB857C ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FFFAFA;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.Third {
    height: 100vh;
    padding: 20px;
    clear: both;
    font-size: 50px;
    background-color:#F79489 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FFFAFA;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.Fourth {
    height: 100vh;
    padding: 20px;
    clear: both;
    font-size: 50px;
    background-color: #F8AFA6 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FFFAFA;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.Second p {
    padding-top: 10%;
    text-align: center;
}

.Third p{
    font-size: 15px;
}
.slide-in-right{animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) forwards}
@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.slide {
  -webkit-animation-name: slide;
  -webkit-animation-duration:15s;
  animation-name: slide;
  animation-duration: 10;
}

@keyframes slide {
  from {opacity: .4} 
  to {opacity: 1}
}




/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .First {
        height: 100vh;
        font-size: 40px;
        
    }
    .Second {
        height: 100vh;
        font-size: 30px;
      }
    .Third {
        height: 100vh;
        font-size: 40px;
      }
    .Second p{
        padding-top: 20%;
    }
    .Fourth {
        height: 100vh;
        font-size: 40px;
      }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .First {
        height: 100vh;
        font-size: 30px;
      }
      .Second {
        height: 100vh;
        font-size: 15px;
    }
    .Third {
        height: 100vh;
        font-size: 30px;
      }

    .Second p{
        padding-top: 20%;
    }
    .Fourth{
        height: 100vh;
        font-size: 30px; 
    }
  }